/* line 1, ../../_sass/pygments/solarized.scss */
pre {
  background: #002b36;
  width: 750px;
  margin: 20px auto;
  padding: 20px;
  overflow: scroll;
}
/* line 8, ../../_sass/pygments/solarized.scss */
pre code {
  background: #002b36;
  padding: 0px;
  font-weight: normal;
}

@media screen and (max-width: 980px) {
  /* line 15, ../../_sass/pygments/solarized.scss */
  pre {
    width: 650px;
  }
}
/* line 17, ../../_sass/pygments/solarized.scss */
.hll {
  background-color: #ffffcc;
}

/* line 18, ../../_sass/pygments/solarized.scss */
.lineno {
  color: #586e74;
}

/* line 19, ../../_sass/pygments/solarized.scss */
.c {
  color: #586E75;
}

/* Comment */
/* line 20, ../../_sass/pygments/solarized.scss */
.err {
  color: #93A1A1;
}

/* Error */
/* line 21, ../../_sass/pygments/solarized.scss */
.g {
  color: #93A1A1;
}

/* Generic */
/* line 22, ../../_sass/pygments/solarized.scss */
.k {
  color: #859900;
}

/* Keyword */
/* line 23, ../../_sass/pygments/solarized.scss */
.l {
  color: #93A1A1;
}

/* Literal */
/* line 24, ../../_sass/pygments/solarized.scss */
.n {
  color: #93A1A1;
}

/* Name */
/* line 25, ../../_sass/pygments/solarized.scss */
.o {
  color: #859900;
}

/* Operator */
/* line 26, ../../_sass/pygments/solarized.scss */
.x {
  color: #CB4B16;
}

/* Other */
/* line 27, ../../_sass/pygments/solarized.scss */
.p {
  color: #93A1A1;
}

/* Punctuation */
/* line 28, ../../_sass/pygments/solarized.scss */
.cm {
  color: #586E75;
}

/* Comment.Multiline */
/* line 29, ../../_sass/pygments/solarized.scss */
.cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 30, ../../_sass/pygments/solarized.scss */
.c1 {
  color: #586E75;
}

/* Comment.Single */
/* line 31, ../../_sass/pygments/solarized.scss */
.cs {
  color: #859900;
}

/* Comment.Special */
/* line 32, ../../_sass/pygments/solarized.scss */
.gd {
  color: #2AA198;
}

/* Generic.Deleted */
/* line 33, ../../_sass/pygments/solarized.scss */
.ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
/* line 34, ../../_sass/pygments/solarized.scss */
.gr {
  color: #DC322F;
}

/* Generic.Error */
/* line 35, ../../_sass/pygments/solarized.scss */
.gh {
  color: #CB4B16;
}

/* Generic.Heading */
/* line 36, ../../_sass/pygments/solarized.scss */
.gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 37, ../../_sass/pygments/solarized.scss */
.go {
  color: #93A1A1;
}

/* Generic.Output */
/* line 38, ../../_sass/pygments/solarized.scss */
.gp {
  color: #93A1A1;
}

/* Generic.Prompt */
/* line 39, ../../_sass/pygments/solarized.scss */
.gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 40, ../../_sass/pygments/solarized.scss */
.gu {
  color: #CB4B16;
}

/* Generic.Subheading */
/* line 41, ../../_sass/pygments/solarized.scss */
.gt {
  color: #93A1A1;
}

/* Generic.Traceback */
/* line 42, ../../_sass/pygments/solarized.scss */
.kc {
  color: #CB4B16;
}

/* Keyword.Constant */
/* line 43, ../../_sass/pygments/solarized.scss */
.kd {
  color: #268BD2;
}

/* Keyword.Declaration */
/* line 44, ../../_sass/pygments/solarized.scss */
.kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 45, ../../_sass/pygments/solarized.scss */
.kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 46, ../../_sass/pygments/solarized.scss */
.kr {
  color: #268BD2;
}

/* Keyword.Reserved */
/* line 47, ../../_sass/pygments/solarized.scss */
.kt {
  color: #DC322F;
}

/* Keyword.Type */
/* line 48, ../../_sass/pygments/solarized.scss */
.ld {
  color: #93A1A1;
}

/* Literal.Date */
/* line 49, ../../_sass/pygments/solarized.scss */
.m {
  color: #2AA198;
}

/* Literal.Number */
/* line 50, ../../_sass/pygments/solarized.scss */
.s {
  color: #2AA198;
}

/* Literal.String */
/* line 51, ../../_sass/pygments/solarized.scss */
.na {
  color: #93A1A1;
}

/* Name.Attribute */
/* line 52, ../../_sass/pygments/solarized.scss */
.nb {
  color: #B58900;
}

/* Name.Builtin */
/* line 53, ../../_sass/pygments/solarized.scss */
.nc {
  color: #268BD2;
}

/* Name.Class */
/* line 54, ../../_sass/pygments/solarized.scss */
.no {
  color: #CB4B16;
}

/* Name.Constant */
/* line 55, ../../_sass/pygments/solarized.scss */
.nd {
  color: #268BD2;
}

/* Name.Decorator */
/* line 56, ../../_sass/pygments/solarized.scss */
.ni {
  color: #CB4B16;
}

/* Name.Entity */
/* line 57, ../../_sass/pygments/solarized.scss */
.ne {
  color: #CB4B16;
}

/* Name.Exception */
/* line 58, ../../_sass/pygments/solarized.scss */
.nf {
  color: #268BD2;
}

/* Name.Function */
/* line 59, ../../_sass/pygments/solarized.scss */
.nl {
  color: #93A1A1;
}

/* Name.Label */
/* line 60, ../../_sass/pygments/solarized.scss */
.nn {
  color: #93A1A1;
}

/* Name.Namespace */
/* line 61, ../../_sass/pygments/solarized.scss */
.nx {
  color: #93A1A1;
}

/* Name.Other */
/* line 62, ../../_sass/pygments/solarized.scss */
.py {
  color: #93A1A1;
}

/* Name.Property */
/* line 63, ../../_sass/pygments/solarized.scss */
.nt {
  color: #268BD2;
}

/* Name.Tag */
/* line 64, ../../_sass/pygments/solarized.scss */
.nv {
  color: #268BD2;
}

/* Name.Variable */
/* line 65, ../../_sass/pygments/solarized.scss */
.ow {
  color: #859900;
}

/* Operator.Word */
/* line 66, ../../_sass/pygments/solarized.scss */
.w {
  color: #93A1A1;
}

/* Text.Whitespace */
/* line 67, ../../_sass/pygments/solarized.scss */
.mf {
  color: #2AA198;
}

/* Literal.Number.Float */
/* line 68, ../../_sass/pygments/solarized.scss */
.mh {
  color: #2AA198;
}

/* Literal.Number.Hex */
/* line 69, ../../_sass/pygments/solarized.scss */
.mi {
  color: #2AA198;
}

/* Literal.Number.Integer */
/* line 70, ../../_sass/pygments/solarized.scss */
.mo {
  color: #2AA198;
}

/* Literal.Number.Oct */
/* line 71, ../../_sass/pygments/solarized.scss */
.sb {
  color: #586E75;
}

/* Literal.String.Backtick */
/* line 72, ../../_sass/pygments/solarized.scss */
.sc {
  color: #2AA198;
}

/* Literal.String.Char */
/* line 73, ../../_sass/pygments/solarized.scss */
.sd {
  color: #93A1A1;
}

/* Literal.String.Doc */
/* line 74, ../../_sass/pygments/solarized.scss */
.s2 {
  color: #2AA198;
}

/* Literal.String.Double */
/* line 75, ../../_sass/pygments/solarized.scss */
.se {
  color: #CB4B16;
}

/* Literal.String.Escape */
/* line 76, ../../_sass/pygments/solarized.scss */
.sh {
  color: #93A1A1;
}

/* Literal.String.Heredoc */
/* line 77, ../../_sass/pygments/solarized.scss */
.si {
  color: #2AA198;
}

/* Literal.String.Interpol */
/* line 78, ../../_sass/pygments/solarized.scss */
.sx {
  color: #2AA198;
}

/* Literal.String.Other */
/* line 79, ../../_sass/pygments/solarized.scss */
.sr {
  color: #DC322F;
}

/* Literal.String.Regex */
/* line 80, ../../_sass/pygments/solarized.scss */
.s1 {
  color: #2AA198;
}

/* Literal.String.Single */
/* line 81, ../../_sass/pygments/solarized.scss */
.ss {
  color: #2AA198;
}

/* Literal.String.Symbol */
/* line 82, ../../_sass/pygments/solarized.scss */
.bp {
  color: #268BD2;
}

/* Name.Builtin.Pseudo */
/* line 83, ../../_sass/pygments/solarized.scss */
.vc {
  color: #268BD2;
}

/* Name.Variable.Class */
/* line 84, ../../_sass/pygments/solarized.scss */
.vg {
  color: #268BD2;
}

/* Name.Variable.Global */
/* line 85, ../../_sass/pygments/solarized.scss */
.vi {
  color: #268BD2;
}

/* Name.Variable.Instance */
/* line 86, ../../_sass/pygments/solarized.scss */
.il {
  color: #2AA198;
}

/* Literal.Number.Integer.Long */
