<!DOCTYPE html>
<html>
  <head>
    <title>chrishunt.co - {{ page.title }}</title>
    <link rel='stylesheet' type='text/css' href='/b/stylesheets/pygments/solarized.css' />
    <link rel='stylesheet' type='text/css' href='/b/stylesheets/main.css' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' />
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
  </head>
  <body>
    <div id='container'>
      <div id='content'>

        <a href='/b/'>
          <img id='avatar' alt='avatar' src='/b/images/avatar.png' />
        </a>

        <a href='https://twitter.com/chrishunt' target='_blank'>
          <img id='twitter' alt='twitter' src='/b/images/twitter.png' />
        </a>

        <a href='https://github.com/huntca' target='_blank'>
          <img id='github' alt='github' src='/b/images/github.png' />
        </a>
