<!DOCTYPE html>
<html>
  <head>
    <title>chrishunt.co - {{ page.title }}</title>
    <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/stylesheets/pygments/solarized.css' />
    <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/stylesheets/main.css' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' />
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25283496-2']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <div id='container'>
      <div id='content'>

        <a href='{{ site.baseurl }}/'>
          <img id='avatar' alt='avatar' src='{{ site.baseurl }}/images/avatar.png' />
        </a>

        <a href='https://twitter.com/chrishunt' target='_blank'>
          <img id='twitter' alt='twitter' src='{{ site.baseurl }}/images/twitter.png' />
        </a>

        <a href='https://github.com/huntca' target='_blank'>
          <img id='github' alt='github' src='{{ site.baseurl }}/images/github.png' />
        </a>
