* { margin: 0; padding: 0; }

body {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  //background: #fdf6e3 url('/b/images/background.jpg') repeat left top;
  background: #fdf6e3;
  color: #222;
}

code {
  background: #fdf6e3;
  color: #555;
  padding: 5px;
  line-height: 1.5em;
  font: {
    family: Inconsolata-g, Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
    size: 14px;
  }
}

h1, h2, h3 {
  text-rendering: optimizelegibility;
  font-weight: bold;
  a {
    color: #222;
    &:hover { color: #555; }
  }
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 27px;
}

h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
}

p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

a {
  color: #dc322f;
  text-decoration: none;
  &:hover { color: #dc5654; }
}

// --------------
// Container
// --------------

#container {
  margin: 0 auto;
  width: 1070px;
}

#content {
  margin: 0 auto;
  position: relative;
  width: 800px;
  padding: 50px;
  background: #fff;
  border-left: 2px solid #657b83;
  border-right: 2px solid #657b83;
  border-bottom: 2px solid #657b83;
}

// --------------
// Header
// --------------

#avatar, #twitter, #github {
  position: absolute;
}

#twitter, #github {
  &:hover { -moz-opacity: 0.9; opacity: 0.9; }
}

#avatar  { top: 25px;  left: -80px; }
#twitter { top: 144px; left: -56px; }
#github  { top: 319px; left: -56px; }

// --------------
// Posts
// --------------

.post {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 10px dashed #eee;
}

.archive {
  font-size: 28px;
  text-align: center;
}

.date {
  color: #859900;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 48px;
  a {
    color: #859900;
    &:hover { color: #8d9943; }
  }
}

.slim { margin-bottom: 0; }
