* { margin: 0; padding: 0; }

body {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  background: #fdf6e3;
  color: #222;
}

code {
  background: #fdf6e3;
  color: #555;
  padding: 5px;
  line-height: 1.5em;

  font: {
    family: Inconsolata-g, Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
    size: 14px;
  }
}

h1, h2 {
  text-rendering: optimizelegibility;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 48px;
}

h2 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 27px;
}

p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

a {
  color: #dc322f;
  text-decoration: none;
  &:hover { color: #dc5654; }
}

#avatar {
  position: absolute;
  top: 25px;
  left: -80px;
}

#container {
  position: relative;
  width: 800px;
  background: #fff;
  border-left: 2px solid #657b83;
  border-right: 2px solid #657b83;
  border-bottom: 2px solid #657b83;
  margin: 0 auto;
  padding: 50px;
}
