/* line 1, ../_sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 3, ../_sass/main.scss */
body {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  background: #fdf6e3;
  color: #222;
}

/* line 9, ../_sass/main.scss */
code {
  background: #fdf6e3;
  color: #555;
  padding: 5px;
  line-height: 1.5em;
  font-family: Inconsolata-g, Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
  font-size: 14px;
}

/* line 20, ../_sass/main.scss */
h1, h2, h3 {
  text-rendering: optimizelegibility;
  font-weight: bold;
}
/* line 23, ../_sass/main.scss */
h1 a, h2 a, h3 a {
  color: #222;
}
/* line 25, ../_sass/main.scss */
h1 a:hover, h2 a:hover, h3 a:hover {
  color: #555;
}

/* line 29, ../_sass/main.scss */
h1 {
  font-size: 48px;
  line-height: 48px;
}

/* line 34, ../_sass/main.scss */
h2 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 27px;
}

/* line 40, ../_sass/main.scss */
h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
}

/* line 46, ../_sass/main.scss */
p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

/* line 52, ../_sass/main.scss */
a {
  color: #dc322f;
  text-decoration: none;
}
/* line 55, ../_sass/main.scss */
a:hover {
  color: #dc5654;
}

/* line 62, ../_sass/main.scss */
#container {
  margin: 0 auto;
  width: 1070px;
}

/* line 67, ../_sass/main.scss */
#content {
  margin: 0 auto;
  position: relative;
  width: 800px;
  padding: 50px;
  background: #fff;
  border-left: 2px solid #657b83;
  border-right: 2px solid #657b83;
  border-bottom: 2px solid #657b83;
}

/* line 82, ../_sass/main.scss */
#avatar, #twitter, #github {
  position: absolute;
}

/* line 87, ../_sass/main.scss */
#twitter:hover, #github:hover {
  -moz-opacity: 0.9;
  opacity: 0.9;
}

/* line 90, ../_sass/main.scss */
#avatar {
  top: 25px;
  left: -80px;
}

/* line 91, ../_sass/main.scss */
#twitter {
  top: 144px;
  left: -56px;
}

/* line 92, ../_sass/main.scss */
#github {
  top: 319px;
  left: -56px;
}

/* line 98, ../_sass/main.scss */
.post {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 10px dashed #eee;
}

/* line 104, ../_sass/main.scss */
.archive {
  font-size: 28px;
  text-align: center;
}

/* line 109, ../_sass/main.scss */
.date {
  color: #859900;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 48px;
}
/* line 114, ../_sass/main.scss */
.date a {
  color: #859900;
}
/* line 116, ../_sass/main.scss */
.date a:hover {
  color: #8d9943;
}

/* line 120, ../_sass/main.scss */
.slim {
  margin-bottom: 0;
}
