/* line 1, ../_sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 3, ../_sass/main.scss */
body {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  background: #fdf6e3;
  color: #222;
}

/* line 9, ../_sass/main.scss */
code {
  background: #fdf6e3;
  color: #555;
  padding: 5px;
  line-height: 1.5em;
  font-family: Inconsolata-g, Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
  font-size: 14px;
}

/* line 21, ../_sass/main.scss */
h1, h2, h3 {
  text-rendering: optimizelegibility;
  font-weight: bold;
}
/* line 24, ../_sass/main.scss */
h1 a, h2 a, h3 a {
  color: #222;
}
/* line 26, ../_sass/main.scss */
h1 a:hover, h2 a:hover, h3 a:hover {
  color: #555;
}

/* line 30, ../_sass/main.scss */
h1 {
  font-size: 48px;
  line-height: 48px;
}

/* line 35, ../_sass/main.scss */
h2 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 27px;
}

/* line 41, ../_sass/main.scss */
h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
}

/* line 47, ../_sass/main.scss */
p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

/* line 53, ../_sass/main.scss */
a {
  color: #dc322f;
  text-decoration: none;
}
/* line 56, ../_sass/main.scss */
a:hover {
  color: #dc5654;
}

/* line 59, ../_sass/main.scss */
#avatar {
  position: absolute;
  top: 25px;
  left: -80px;
}

/* line 65, ../_sass/main.scss */
#container {
  margin: 0 auto;
  width: 1070px;
}

/* line 70, ../_sass/main.scss */
#content {
  margin: 0 auto;
  position: relative;
  width: 800px;
  padding: 50px;
  background: #fff;
  border-left: 2px solid #657b83;
  border-right: 2px solid #657b83;
  border-bottom: 2px solid #657b83;
}

/* line 81, ../_sass/main.scss */
.post {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 10px dashed #eee;
}

/* line 87, ../_sass/main.scss */
.archive {
  font-size: 28px;
  text-align: center;
}

/* line 92, ../_sass/main.scss */
.date {
  color: #859900;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 48px;
}
/* line 97, ../_sass/main.scss */
.date a {
  color: #859900;
}
/* line 99, ../_sass/main.scss */
.date a:hover {
  color: #8d9943;
}

/* line 103, ../_sass/main.scss */
.slim {
  margin-bottom: 0;
}
