<!DOCTYPE html>
<html>
  <head>
    <title>b</title>
    <link rel='stylesheet' type='text/css' href='stylesheets/pygments/solarized.css' />
    <link rel='stylesheet' type='text/css' href='stylesheets/main.css' />
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' />
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
  </head>
  <body>
    <div id='container'>

      {{ content }}

    </div>
  </body>
</html>
